{% extends "base.html.twig" %}

{% block title %}Ingrid's page{% endblock %}

{% block body %}
    <h1> Json Routes </h1>
    <h2> Quote </h2>
    <ul><li>api/quotes - Get one of three inspiring quotes </ul></li>
    <a href="{{ path('api/quote') }}">Get a quote</a>

    <h2>Deck of Cards</h2>
    <ul>
    <li> api/deck - you get to see the fully sorted deck</li>
    
    <li> api/deck/shuffle - randomly shuffle your deck</li>
    
    <li> api/deck/draw - draw a card from your deck</li>
    
    <li> api/deck/draw/:number - draw :number amount of cards</li>
    
    </ul>
<form method="post" action="">
    <p>


        <input type="submit" name="deck" value="Deck" 
            onClick="this.form.action='{{ path('api_deck') }}';"
        >

        <input type="submit" name="shuffle" value="Shuffle"
            onClick="this.form.action='{{ path('api_shuffle') }}';"
        >

        <input type="submit" name="draw" value="Draw a card"
            onClick="this.form.action='{{ path('api_draw') }}';"
        >

        <input type="submit" name="api_draw_many" value="Draw 5 cards" 
            onClick="this.form.action='{{ path('api_draw_many', {num: 5}) }}';"
        >

    </p>
</form>

    <h2> Card Game </h2>

    <ul><li> api/game - See the current scores of the game</ul></li>
    
    <a href="{{ path('api_game') }}">See game score</a>

     <h2> Library </h2>

    <ul>
    <li> api/library/books - Shows books in the Library</li>
    <li> api/library/books/{num} - Shows one book in the Library</li>
    </ul>


    <a href="{{ path('jsonLibrary') }}">Show books</a>
    <a href="{{ path('libraryOne', {num: '48938729' } ) }}">Show one book</a>
   
{% endblock %}
