{% extends "/project/proj_base.html.twig" %}

{% block title %}Ingrid's game{% endblock %}

{% block body %}






<div class="mess"> <h3>Message: </h3><br> {{ message }}</div> 

<div class=bp>
    <h3>Backpack: </h3><br>
    <ul>
    {% for item in names %}
        <li>
        {{ item }}
        <a href="{{ path('eat', {num: loop.index -1} ) }}">eat</a>
        <a href="{{ path('read', {num: loop.index -1} ) }}">read</a>
        <a href="{{ path('give', {num: loop.index -1} ) }}">give</a>
        </li>
        <br>
        
    {% endfor %}
    </ul>
</div>

<div class=text>
<img src= "{{ asset('img/sofa.jpg') }}" alt="picture of sofa" width='250'>
<h1> The sitting room </h1>


<h3> Someone has left a note on the sofa!
    Pick it up? 
    <td><a href="{{ path('notepick') }}">pick up</a></td>
</h3>

</div>

<div class=right><a href="{{ path('hall') }}">Move to hallway</a></div>
<div class=left><a href="{{ path('lib') }}">Move to library</a></div>





{% endblock %}